@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;0,700;1,300&display=swap');

/*general*/

*{
  margin: 0;
  padding: 0;
}

.app{
  font-family: 'Inria Sans';
  background-color: gray;
}

/*nav*/

nav{
  text-align: left;
  position: absolute;
  li{
    font-size: 20 px;
    color: white;
    display: inline-block;
    margin-right: 20px;
  }
  img{
    height: 50px;
    width: auto;
    margin-bottom: -20px;
  }
}

