@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;0,700;1,300&display=swap');

/*general*/

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Inria Sans';
  background-color: #29272A;
}

/*nav*/

nav {
  text-align: left;
  position: fixed;
  padding: 20px 25px;

  li {
    cursor: pointer;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin-right: 20px;
    transition: .3s;
  }

  li:hover {
    text-shadow: 2px 0px 17px rgba(206, 206, 206, 0.87);
  }

  img {
    height: 50px;
    width: auto;
    margin-bottom: -20px;
  }
}

/*landing-page*/

#landing-page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40vh;
  padding-bottom: 40vh;

  h1 {
    color: white;
    font-size: 70px;
    text-align: center;
    padding-bottom: 5vh;
    font-weight: 400;
  }

  button {
    background-color: white;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 35px;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    background-color: transparent;
    border: solid 2px white;
    color: white;
  }

  .btn {
    text-align: center;
  }
}

/*hero*/

#hero {
  color: white;
  padding: 15vh 7vh 0vh 7vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5vh;
  grid-row-gap: 0px;

  .video {
    grid-area: 1 / 1 / 2 / 2;

    video {
      border-radius: 20px;
      width: 80vh;
      height: auto;
    }
  }

  .heroDescription {
    grid-area: 1 / 2 / 2 / 3;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    h2 {
      font-weight: 200;
      text-align: center;
      font-size: 35px;
      margin-bottom: 5vh;
    }

    p {
      font-size: 20px;
      margin: 0 50px;
      opacity: 0.7;
      font-weight: 400;
      line-height: 1.7;
    }
  }

}

/*about*/

#about {
  padding: 15vh 7vh 0vh 7vh;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10vh;
  grid-row-gap: 0px;

  h2 {
    font-weight: 400;
    font-size: 35px;
  }

  .about-us {
    grid-area: 1 / 1 / 2 / 2;

    h2 {
      text-align: right;
    }

    p {
      padding-top: 10vh;
      opacity: 0.7;
      font-size: 20px;
      line-height: 1.7;
      text-align: right;
    }
  }

  .about-team {
    grid-area: 1 / 2 / 2 / 3;

    h2 {
      text-align: left;
    }

    #team {
      text-align: center;
      padding-top: 5vh;
      display: flex;
      gap: 5vh;
      flex-wrap: wrap;

      h4,
      h3 {
        font-weight: 200;
      }

      #text {
        background-color: #421D8D;
        padding: 10px;
        border-radius: 20px;
        margin-top: -15px;
        z-index: 999;
        position: sticky
      }

      img {
        width: 150px;
        height: auto;
        position: sticky;
        z-index: 1;
      }

    }
  }



}

/*services*/

#services {
  padding: 15vh 7vh 0vh 7vh;
  grid-area: 1 / 1 / 2 / 2;
  color: white;
  text-align: center;

  h2 {
    font-weight: 400;
    font-size: 35px;
    text-align: right;
  }

  .services-description {
    font-size: 20px;
    margin-bottom: 10vh;
    opacity: 0.7;
    font-weight: 400;
    line-height: 1.7;
    text-align: right;
  }

  .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vh;

    li {
      list-style: none;

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: -15px;
        position: relative;
        z-index: 1;
      }

      h3{
        background-color: #421D8D;
        padding: 10px;
        border-radius: 20px;
        position: relative;
        z-index: 999;
      }
    }

  }


}

/*destinations*/
#destinations{
  padding: 15vh 7vh 0vh 7vh;
  color: white;
  text-align: left;
  grid-area: 1 / 2 / 2 / 3; 

  h2 {
    font-weight: 400;
    font-size: 35px;
  }

  p{
    font-size: 20px;
    margin-bottom: 10vh;
    opacity: 0.7;
    font-weight: 400;
    line-height: 1.7;
  }

  .destinations-list{
    margin-top: 15vh;
    display: flex;
    align-items: center;
    button{
      height: 50px;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 70px;
      cursor: pointer;
    }
    li{
      text-align: center;
      list-style: none;
      width: 35vh;
      height: 35vh;
      img{
        height: 30vh;
        width: auto;
      }
      h3{
        font-size: 25px;
      }
    }
  }
}

#services-destinations{
  background-color: rgb(41, 39, 42, 0.5);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5vh; 
  grid-row-gap: 0px;
  gap: 5vh;
  margin: 10vh 30vh 0vh 30vh;
  background-repeat: no-repeat;
  background-position:center;
  background-size: contain  ;
  background-blend-mode:hue;
}

/*contact*/

#contact{
  color: white;
  text-align: center;
  background-image: url(/public/contact-us-background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1{
    padding-top: 500px;
    font-size: 50px;
    font-weight: 100;
  }
  p{
    font-size: 20px;
    opacity: 0.7;
    font-weight: 400;
    }
  a{
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
  }
  li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    font-size: 40px;
    margin-bottom: 50px;
  }

}

/*footer*/

footer{
  hr{
    margin: 5px 50px;
  }
  background-color: #421D8D;
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
}